.login-core
{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form
{
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--primary-light);

}